{% extends "layout.html" %}
{% block title %}
	{{user['nickname']}}的关注 
{% endblock %}

{% block content %}
	<h2  style="text-align:center">{{user['nickname']}}的关注列表</h2>
	<div class="row">
		<div class="col-md-4"></div>
        <div class="col-md-4">
			{% for f in followings %}
				<div class="panel panel-default post">
					<div class="panel-heading">
						<span class="panel-body">
							<a href="{{url_for('show_user', user_id=f.f['id'])}}">
							<img src="{{f.f['portrait']}}" alt="求真像" height=30 width=30 />{{f.f['nickname']}}</a> 
							{%if session.user_id and f.f['id'] != session.user_id%}
								{% if f.following == 1%}
									<a href="/unfollow/{{f.f['id']}}"><button type="button" class="btn btn-warning">取消关注</button></a>
									{% else %}
									<a href="/follow/{{f.f['id']}}"><button type="button" class="btn btn-primary">关注</button></a>

								{% endif %}
							{% endif %}
						</span>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
