
{% extends "layout.html" %}

{% block title %} 主页 {% endblock %}

{% block content %}


<script language="javascript">
function replyTo(str, target_user_id) {
document.getElementById('comment-content').value = "回复"+str+":";
document.getElementById('target_user_id').value = target_user_id;
$("html, body").animate({ scrollTop: 0 }, 300);
$("#comment-content").focus()
}
</script>

<div class="row">
<div class="col-md-3"> </div>



<div class="col-md-6"> 




<div class="panel panel-primary post">
  <div class="panel-heading">
    <span class="panel-title"><a href="{{url_for('show_user', user_id=poster['id'])}}">{{poster['nickname']}}</a> 说: </span>

    <span class="pull-right ">{{post['date']}}</span>

  </div>
  <div class="panel-body">
    <p class="postbody"> {{ render_post_content(post['content']) | safe }} </p>



{% if session.user_id%}
    <span class="pull-right">

        
        <span class="post-small" id="{{post['id']}}">


            {%if me_like %}

            <a class="like" href="#" style="display:none"><span class="post-small">赞(<span class="count-{{post['id']}}">{{len(likes)}}</span>)</span></a>
        <a class="unlike" href="#"><span class="highlight">取消赞(<span class="count-{{post['id']}}">{{len(likes)}}</span>)</span></a> </span>

            {% else %}

            <a class="like" href="#"><span class="post-small">赞(<span class="count-{{post['id']}}">{{len(likes)}}</span>)</span></a>
            <a class="unlike" href="#" style="display:none"><span class="highlight">取消赞(<span class="count-{{post['id']}}">{{len(likes)}}</span>)</span></a> </span>

            {% endif %}

    </span>

<script type="text/javascript">


$(".like").click(function () {
    post_id = $(this).parent().attr('id')
    url = "/like_post/" + post_id

    $.post(url, function(data) {
        if (data.result){
            $(".count-" + post_id).text(data.count)
            toggle(post_id)
        }
    })

    if ($("#alsolike").css("display") == "none") {
      $("#alsolike").show( "slow" )
    }

    return false
})


$(".unlike").click(function () {
    post_id = $(this).parent().attr('id')
    url = "/unlike_post/" + post_id

    $.post(url, function(data) {
        if (data.result){
            $(".count-" + post_id).text(data.count)
            toggle(post_id)
        }
    })

    return false
})


function toggle(post_id) {
    var children = $("#" + post_id).children()
    var c0 = children[0]
    var c1 = children[1]
    if ($(c0).css("display") == "none"){
        $(c0).css("display", "inline")
        $(c1).css("display", "none")
    } else {
        $(c0).css("display", "none")
        $(c1).css("display", "inline")
    }
}

</script>

{% endif %}


  </div>
</div>

<div id="alsolike" class="panel panel-default">
  <div class="panel-heading"> <h3 class="panel-title">赞了这篇微博的用户: </h3> </div>
  <div class="panel-body">
{% for like in likes %}

    <a href="{{url_for('show_user', user_id=like.u['id'])}}">@{{like.u['nickname']}} </a>
 
{% endfor %}
</div>
</div>


<form action="{{ url_for('add_comment') }}" method="post" class="form-horizontal">
        <div class="form-group">
          <div class="col-lg-12">
			<input type="hidden" name="post_id" value="{{post['id']}}"></input>
			<input id="target_user_id"type="hidden" name="target_user_id" value=""></input>
            <textarea id='comment-content' name='content' rows="4" cols="40" class="form-control" ></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-12">
          <button type="submit" class="btn btn-default">评论</button>
          </div>
        </div>
    </form>

<h2>评论</h2>
  {% if len(comments) == 0 %}

    <p>暂无评论</p>
  {%endif%}

	{% for comment in comments %}

<div class="panel panel-default post">
  <div class="panel-heading">
    <span class="panel-title">
      <img src="{{comment.u['portrait']}}" alt="求真像" height=20 width=20 />
      <a href="{{url_for('show_user', user_id=comment.u['id'])}}">{{comment.u['nickname']}}</a> 说: 
    </span>

    <span class="pull-right post-small">{{comment.c['date']}}</span>

  </div>
  <div class="panel-body">
    <p class="postbody">
	{%if comment.t == None %}
    {{comment.c['content']}} 
	{% else %}
	回复<img src="{{comment.t['portrait']}}" alt="求真像" height=20 width=20 /><a href="{{url_for('show_user', user_id=comment.t['id'])}}">{{comment.t['nickname']}}</a>:{{comment.c['content']}}
	{% endif %}
  </p>
	<span class="pull-right"><button class="btn btn-default btn-sm"  onclick="replyTo('{{comment.u['nickname']}}', '{{comment.u['id']}}');" > 回复 </button></span>
  </div>
  
</div>


{% endfor %}

</div>

<div class="col-md-3"> 
</div>

</div>
{% endblock %}