<html>
<head>
<script language="javascript">
function replyTo(str, target_user_id) {
document.getElementById('content').value = "回复"+str+":";
document.getElementById('target_user_id').value = target_user_id;
}
</script>
</head>
<h1>Page for post {{post['id']}}</h1>


<h2>Content:</h2>

{{post['content']}}

<h3>Todo: </h3>
<form action="{{ url_for('add_comment') }}" method="post" class="form-horizontal">
        <div class="form-group">
          <div class="col-lg-12">
			<input type="hidden" name="post_id" value="{{post['id']}}"></input>
			<input id="target_user_id"type="hidden" name="target_user_id" value=""></input>
            <textarea id='content'name='content' rows="4" cols="40" class="form-control" ></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-12">
          <button type="submit" class="btn btn-default">评论</button>
          </div>
        </div>
    </form>
    <li>评论</li>
	{% for comment in comments %}

<div class="panel panel-default post">
  <div class="panel-heading">
    <span class="panel-title"><a href="{{url_for('show_user', user_id=comment.u['id'])}}">{{comment.u['nickname']}}</a> 说: </span>

    <span class="pull-right post-small">{{comment.c['date']}}</span>

  </div>
  <div class="panel-body">
    <p class="postbody">
	{%if comment.t %}
    {{comment.c['content']}} 
	{% else %}
	回复<a href="{{url_for('show_user', user_id=comment.t['id'])}}">{{comment.t['nickname']}}</a>:{{comment.c['content']}}
	{% endif %}
	<span class="pull-right post-small"><input type="button" value="回复" onclick="replyTo('{{comment.u['nickname']}}', '{{comment.u['id']}}');" ></span>
  </div>
  <a href="/comment/"
</div>


{% endfor %}
<li>点赞</li>
{% for like in likes %}
 <p class="postbody">
    <a href="{{url_for('show_user', user_id=like.u['id'])}}">{{like.u['nickname']}}</a>
 </p>
{% endfor %}
<a href="{{url_for('index')}}">返回主页</a>
</html>