

<div class="posts">
{% for post in posts %}

<div class="panel panel-default post">
  <div class="panel-heading">
    <span class="panel-title"><a href="{{url_for('show_user', user_id=post.u['id'])}}">{{post.u['nickname']}}</a> 说: </span> 

    <span class="pull-right post-small">{{post.p['date']}}</span>

  </div>
  <div class="panel-body">
    <p class="postbody">
    {{post.p['content']}}
    </p>

    

    <span class="pull-right">

        <span class="post-small"> 
        <a href="/comment/{{post.p['id']}}">评论()</a> </span>
        
        <!--span class="post-small">
		<a href="/like/{{post.p['id']}}">赞()</a> </span-->

        <a href="{{url_for('show_post', post_id=post.p['id'])}}"><span class="post-small"> 更多 </span></a>



    </span>


    


  </div>
</div>


{% endfor %}
</div>